@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Orbitron&family=Yantramanav:wght@300&display=swap');
html, body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    background:rgb(72, 20, 0);
    display: flex;
    align-items:center;
}
img{
    max-width: 100%;
    display: block;
}
.person_container{
    transform: translateY(10);
    width: 20rem;
    position:relative;
    display: block;
    height: fit-content;
    margin-inline: auto;
    border-radius: 0 0 200vw 200vw;
    overflow:hidden;
    transition: transform 350ms ease-out;
    
}
.person_container:hover{
    transform: scale(1.2);
}
.person_bg{
    height: 20rem;
    position: absolute;
    width:100%;
    object-fit: cover;
    inset: auto 0 0;
    margin-inline: auto;
    border-radius: 200vw 200vw 200vw 200vw;
}
.person_stabe{
    position:relative;
    /* margin-inline: auto; */
    transform: translateY(2rem);
    transition: transform 250ms ease-out;
}
.person_container:hover .person_stabe{
    transform: translateY(3rem);
}